#repo-list{
  width: 700px
}

#repo-list li{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  min-height: 100px;
  padding: 15px;
  border-bottom: 0.8px solid lightgray;
  font-size: 0.8rem;
}

#repo-list li a{
  font-weight: bolder;
  font-size: 1.1rem;
}

#repo-list strong {
  font-size: 0.7rem;
}

#circle {
  display: block;
  float: left;
  margin-right: 4px;
  margin-top: 2px;
  height: 10px;
  width: 10px;
  border-radius: 5px;
}

#repo-list li div{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin-top: 20px;
  font-size: 0.7rem;
  color: darkgray;
  flex-wrap: wrap;
}

#repo-list li div time:first-child{
  margin-right: 20px;
}

@media(max-width: 800px){
  #repo-list{
    width: auto;
  }
}